# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logfiles
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Intelij
.idea
*.iml

# Build Harness
.build-harness
build-harness